<div id="content">
	<div id="header">
		<h3>Stuff</h3>
	</div>
	<div class="main-content">
		
		<div class="left-col">
			<span>This is some shiz in the left col</span>
		</div>
		<div class="right-col">
			<input type="text" id="add-feed-url-text" placeholder="Feed url"/>
			<input type="button" id="add-feed-url-button" value="Add" />
		</div>
	</div>
</div>
