// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
#content {
	position: relative;
	width: 100%;
	height: 100%;
}
#header {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
}
.main-content, .right-col, .left-col {
	position: relative;
	height: 100%;
	float: left;
}

.main-content {
	width: 100%;
}
.right-col {
	width: 71%;
}
.left-col {
	width: 21%;
	margin: 0 2% 0 0;
	border-right: 1px solid #999;
}
#add-feed-url-text {
	width: 80%;
}
